# OPM Federal Workforce Fact Data

- Exploratory analysis of March 2024 (most recent available to public) OPM data
- Facts about the federal workforce

In [1]:
import pandas as pd
import getpass
import matplotlib.pyplot as plt
import os

In [3]:
work_directory = '{0}'.format(getpass.getpass('Paste work directory path and then press enter: '))

Paste work directory path and then press enter: ········

In [6]:
os.chdir(work_directory)

In [8]:
print(os.listdir())

['DTgsegrd.txt', 'FS_Employment_Mar2024_Documentation.pdf', 'DTwrksch.txt', 'FACTDATA_MAR2024.TXT', 'DTagy.txt', 'DTppgrd.txt', 'DTpatco.txt', 'DTdate.txt', 'DTagelvl.txt', 'DTsallvl.txt', 'DTwkstat.txt', 'DTsuper.txt', 'DTtoa.txt', 'DTocc.txt', 'DTpp.txt', 'ReadRawData_CreateTempDatasets_DataGov.sas', 'DTedlvl.txt', 'DTloslvl.txt', 'DTstemocc.txt', 'DTloc.txt']

# Data

In [10]:
%%time
df_fact = pd.read_csv('FACTDATA_MAR2024.TXT', low_memory=False)

CPU times: user 2.84 s, sys: 661 ms, total: 3.5 s
Wall time: 3.5 s

In [11]:
df_fact.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2278730 entries, 0 to 2278729
Data columns (total 20 columns):
 #   Column      Dtype
---  ------      -----
 0   AGYSUB      object
 1   LOC         object
 2   AGELVL      object
 3   EDLVL       object
 4   GSEGRD      object
 5   LOSLVL      object
 6   OCC         object
 7   PATCO       int64
 8   PP          object
 9   PPGRD       object
 10  SALLVL      int64
 11  STEMOCC     object
 12  SUPERVIS    object
 13  TOA         object
 14  WORKSCH     object
 15  WORKSTAT    int64
 16  DATECODE    int64
 17  EMPLOYMENT  int64
 18  SALARY      float64
 19  LOS         float64
dtypes: float64(2), int64(5), object(13)
memory usage: 347.7+ MB

In [12]:
df_fact.head()

,AGYSUB,LOC,AGELVL,EDLVL,GSEGRD,LOSLVL,OCC,PATCO,PP,PPGRD,SALLVL,STEMOCC,SUPERVIS,TOA,WORKSCH,WORKSTAT,DATECODE,EMPLOYMENT,SALARY,LOS
0,AA00,11,F,13,NaN,G,0340,2,ES,ES-**,20,XXXX,2,50,F,1,202403,1,210000.0,20.8
1,AA00,11,J,15,NaN,I,0905,1,ES,ES-**,20,XXXX,2,50,F,1,202403,1,203000.0,31.2
2,AA00,11,K,04,NaN,G,0301,2,99,EX-02,30,XXXX,2,48,F,2,202403,1,NaN,22.0
3,AA00,11,C,04,12,B,0560,2,99,GS-12,9,XXXX,8,15,F,1,202403,1,99200.0,2.5
4,AA00,11,D,04,13,B,0905,1,99,GS-13,11,XXXX,8,30,F,1,202403,1,117962.0,2.5